.homeContainer {
  background-color: #EEEEEE;
}
.searchCont {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}
.searchBox {
    display: flex;
    height: 40px;
    width: 50%;
    border: 1px solid;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;

}
.searchInput{
    width: 90%;
    border: none;
    outline: none;
    height: 80%;
    margin-left: 16px;
}
.searchIcons {
    margin-right: 5px;
}
.filersCont {
    height: 60px;
    /* border-bottom: 1px solid; */
    display: flex;
    justify-content: center;
    /* border-top: 1px solid; */
    align-items: center;
}
.switchCont {
    margin-right: 30px;
}
select.selectF {
    width: 128px;
    height: 30px;
    margin: 0 12px;
    font-size: 16px;
    border: 1.3px solid;
    border-radius: 5px;
}
.filtertext {
    font-size: 22px;
    margin-right: 7px;
}
.switch-handle {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .moviesSection {
    margin-top: 15px;
    padding: 0 12px;
}.horCont {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.movieCard {
    width: 239px;
    margin:4px;
    height: 300px;
    padding: 5px;
    perspective: 1000px;
    /* transition: transform 0.3s; */
}
.cardFront,.cardBack{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  transform-origin: center;
}
.cardFront {
    background-color: #3498db;
    color: #fff;
  }
  .selectlabel {
    font-family: inherit;
}
  .cardBack {
   
    
    background-color: #4e2a27;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 4px;
    justify-content: start;
    align-items: start;
  }
.movieCard:hover .cardFront {
    transform: rotateY(180deg) ; 
  }
  
  .movieCard:hover .cardBack {
    transform: rotateY(0deg) ; 
  }
/* .movieCard:hover{
    /* transform: scale(1.1); */
/* } */ 
.headText {
    font-size: 26px;
    font-weight: 600;
    padding-left: 7px;
}
span.nbtn {
  
  background-color: #303134;
    
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  /* align-items: center; */
  right: 20px;
  z-index: 1;
}
span.pbtn {
  background-color: #303134;
    
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  display: flex;
  position: relative;
  /* align-items: center; */
  left: 20px;
  z-index: 30;
}


img.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imagecont {
    width: 100%;
    height: 100%;
}
  .switch-inner {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
  
  .switch-handle.on {
    background-color: #4caf50; /* Green color when switch is on */
    border-color: #4caf50;
  }
  .movie-grid{
    
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 10px;

  }
 
  .allMovies {
    margin: 13px 13px 0 13px;
    padding-bottom: 9px;

}

.movie-card {
  position: relative;
  overflow: hidden;
  width: 253px;
  height: 300px;
  margin: 3px;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
  z-index: 1; 
}

.movie-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); /* Gradient overlay */
  color: white;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(100%); /* Start below the card */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movie-card:hover .movie-details {
  opacity: 1; /* Show details on hover */
  transform: translateY(0); /* Slide up on hover */
}

.movie-details h3 {
  margin: 0;
}

.movie-details p {
  margin: 5px 0;
}
.seemorebtn{

  margin-top: 10px;
  width: 100%;
display: flex;
justify-content: space-between;
text-decoration: underline;
text-decoration-color: blueviolet;
}
@media only screen and (max-width: 767px) {
 .homeContainer{
  width: 100%;
 }
 .movie-card{
  width: 100%;
  height: 100%;
 }
 .movie-grid{
  grid-template-columns: repeat(3,1fr);
 }
 .movie-details{
  display: none;

 }
 .searchBox{
  width: 60%;
 }
 .searchInput{
  margin-left: 8px;
 }
 .filersCont{
 
  height: 145px;
  flex-wrap: wrap;
 
}
.filtertext{
  flex: 1;
}
.filterBox {
  flex: 1;
  display: flex;
}

.headText {
    font-size: 22px;
}
.horCont {
      padding: 4px 0;
}
span.nbtn{
        right: 14px;
}
span.pbtn{
        left: 13px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .movie-card{
    width: 100%;
    height: 100%;
   }
   .movie-grid{
    grid-template-columns: repeat(4,1fr);
   } 
}