.MovieContainer {
    padding: 40px;
    background-color: #EEEEEE;
}
.flex-cont{
    display: flex;
}
.topCont {
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
    /* height: 117px; */
}
.top-left-top{
    align-items: center;

}
.titleCont {
    margin-right: 12px;
    font-size: 32px;
    font-weight: 700;
}
.watch-i-btn {
    padding-top: 8px;
}
.top-left-bottom {
    font-size: 16px;
    font-weight: 500;
}
.topCont-right {
    padding-right: 40px;
}
.labelText {
    font-size: 18px;
    font-weight: 600;
}
.ratingNumber {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    /* justify-content: center; */
}
span.star-cont {
    padding-top: 4px;
}
.imdb-logo {
    width: 83px;
    height: 45px;
    display: flex;
    align-items: center;
}

/* midle cont */
.middleCont {
    padding-left: 20px;
}
.middleCont-left {
    width: 300px;
   
    align-items: center;
    flex-direction: column;
}
.imageCont{
    width: 270px;
    height: 396px;
}
.imageCont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.addtofav-cont {
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 12px;
    border: 2px solid;
    width: 100%;
    border-radius: 18px;
    cursor: pointer;
}

.addtofav-text {
    font-size: 22px;
    font-weight: 600;
}
.bookmark-logo {
    margin-left: 12px;
    padding-top: 5px;
}
.middleCont-right {
    margin: 20px;
    width: 100%;
}
.middleCont-right {
    margin: 17px 36px;
    width: 100%;
}
.cont-a {
    height: 40px;
    justify-content: space-around;
    padding-right: 117px;
    margin-bottom: 7px;
}
.releasedOnText{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
        font-size: 18px;
    margin-left: 9px;
}
.releasedCont {
    align-items: center;
    border-radius: 8px;
    background-color: #e1e1e1;
    padding: 2px 5px;
}
.durationCont {
    /* font-size: 20px; */
    /* font-weight: 700; */
    align-items: center;
    padding: 1px 4px;
    background-color: #e1e1e1;
    border-radius: 4px;
}
.cont-b{
    min-height: 70px;
    height: max-content;
    /* border: 1px solid; */
    padding-top: 5px;
    padding: 7px;
    border-radius: 9px;
    background-color: #e1e1e1;
}
.descHead {
    font-size: 19px;
    font-weight: 600;
}
.cont-c {
    margin-top: 6px;
    padding-left: 10px;
    height: 44px;
    margin-bottom: 18px;
}
.genreitem {
    margin: 4px 23px 4px 4px;
    background-color: #e1e1e1;
    padding: 5px;
    border-radius: 17px;
    font-size: 19px;
    font-weight: 500;
}
.listcont {
    border-top: 2px solid;
    padding: 9px 5px 8px;
    font-size: 19px;
    background-color: whitesmoke;
}
.cont-h{
    align-items: end;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.watchCont {
    border: 0.075rem solid;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: #e1e1e1;
}
.platText {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.StorylineCont {
    padding: 21px;
    background-color: #e1e1e1;
    border-radius: 26px;
}
.storylinehead {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 5px;
}
.storyText {
    font-size: 20px;
    text-align: justify;
}
.reviewCont {
    margin: 15px;
}
.userProfile {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 13px;
}
.userProfile img{
    border-radius: 50%;
    display: inline-block;
}
.reviewCount {
    font-size: 26px;
    font-weight: 600;
}
.cont-aa {
    align-items: center;
}
.adduserrev {
    margin: 15px 7px;
    /* min-height: 65px; */
    
    height: max-content;
}
.inputRevCont {
    width: 75%;
}
input.revInput {
    width: 100%;
    border: none;
    outline: none;
    height: 35px;
    border-bottom: 1px solid;
    font-size: 16px;
    background-color: #eeeeee;
    /* margin-left: 16px; */
    margin-bottom: 4px;
    padding-left: 3px;
}
textarea.descText {
    width: 100%;
    /* height: 117px; */
    border: none;
    font-size: 17px;
    outline: none;
    background-color: #eee;
    border-bottom: 0.075rem solid;
    resize: none;
}
.inputRevCont button {
    border: none;
    background: #2d77fd;
    color: white;
    padding: 7px 14px;
    margin: 7px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
}
.btnCont {
    /* padding-right: 0px; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
@media only screen and (max-width: 767px) {
    .middleCont{
        flex-direction: column;
        padding-left: 4px;
    }
    .MovieContainer {
        padding: 5px;
    }
    .topCont {
        justify-content: space-between;
        padding: 0 7px
    }
    .topCont-right {
        padding-right: 4px;
    }

    .imageCont {
        width: 217px;
        height: 320px;
    }
    .cont-a{
        padding-right: 7px;
    }
    

    .adduserrev {
        margin: 15px 0px;
    }
    .userProfile{
        margin-left: 5%;
    }
    .reviewCont {
        margin: 10px;
    }
.middleCont-right {
    margin: 17px 0px;
}

}