.reviewLeft {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 13px;
}

.reviewLeft img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* display: inline-block; */
}
.ReviewCont{
    transition: background-color 0.3s ease,margin 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
}
.OnlyReviewCont {
    margin: 15px 7px;
    /* min-height: 65px; */
    display: flex;
    height: max-content;
}
.ReviewReplyCont {
    margin: 9px 11px;
    padding: 15px 11px;
    background-color: white;
    display: flex;
    border-radius: 9px;
    height: max-content;
}
.reviewRight {
    width: 90%;
}
.row-1 {
    display: flex;
    align-items: baseline;
    margin-bottom: 3px;
}
.reviewmade {
    font-size: 13px;
    margin-left: 4px;
}
.usernameText {
    font-weight: 500;
    font-size: 16px;
}
.r_oneliner {
    font-size: 19px;
    font-weight: 700;
}
.reviewIcons {
    display: flex;
    margin-top: 4px;
    margin-left: 5px;
}
.ldBtn {
    cursor: pointer;
    margin-left: 11px;
        margin-right: 3px;
}
.userprofileReply {
    width: 35px;
    height: 35px;
}
.userprofileReply img {
    border-radius: 50%;
}
.addreplyCont {
    display: flex;
    align-items: center;
}
.inputReply {
    width: 68%;
    margin-left: 12px;
    margin-right: 15px;
}
.inputReply input {
    width: 100%;
    border: none;
    outline: none;
    /* height: 35px; */
    border-bottom: 1px solid;
    font-size: 16px;
    /* background-color: #eeeeee; */
    /* margin-left: 16px; */
    margin-bottom: 9px;
    padding-left: 3px;
}
button.pReplyBtn {
    border: none;
    background: #2f63c1;
    color: white;
    padding: 6px 9px;
    margin: 5px;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
}
.replyLeft img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.replyLeft {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    margin-top: 13px;
}
.ReplyContainer{
    margin: 0px 1px;
    padding: 0px 0px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    /* border-radius: 9px; */
    width: 70%;
    height: max-content;
    justify-content: space-between;}
.replyMain {
    margin: 6px 1px;
    padding: 6px 0px;
    display: flex;
    height: max-content;
}
.menuicon{
    position: relative;
    padding-top: 16px;
}
@media only screen and (max-width: 767px) {
    .reviewLeft{
        margin-left: 8px;
    }
}