.MainPage{
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}
.leftLinksSection{
    display: flex;
    flex-direction: column;
    width: 250px;
    position: sticky;
    top: 0;
    /* background-color: white; */
    left: 0;
    height: 100vh;
    bottom: 0;
    padding-top: 30px;
    padding-left: 3.25rem;
}
.contenttext{
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eaecf0;
    line-height: 1.6;
    font-size: 0.985rem;
    font-weight: 550;
    color: #000000;
    font-family: sans-serif;
}
.leftLinksSection a{
    color: #3366cc;
    text-decoration: none;
    font-size: 0.875rem;
    background: none;
    padding: 6px 0;
}
.rightMain{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.userInfo{
    margin-top: 50px;
    width:1000px;
    height:490px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}
.userInfo .upper{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
} 
.userInfo .upper .upperleft{
    width: 30%;
    /* border-right: 2px solid red; */
    display: flex;

    align-items: center;
    justify-content: center;
    
}
/* .userInfo .upper .upperleft .profilepic{
    

} */
.profilepic { 
    /* background-color: #f86969; */
    /* width: 250px;
    height: 250px;
    overflow: hidden; 
    border-radius: 50%;
    border-color: blue;
    border-width: 3px;
    border-style: solid; */
    box-sizing: border-box;
    
}
.profilepic img { 
    height: 170px;
    width: 180px;
    /* background-color: #f86969; */
    border-radius: 50%;
    display: inline-block;
}
.userInfo .upper .upperright{
    width:70%;
    margin-top: 20px;
    /* padding-left: 30px; */
}
.labeltext{
    font-size: 18px;
    font-weight: 650;


}
.form-group{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 42%;
}
.inputboxUser{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-family: serif,Cambria,Georgia;
    font-size: 17px;
    font-weight: 400;
}
.AboutUsermovie{
    width: 90%;
    /* height:170px */
}
.textbox{
    width: 100%;
    resize: none;
    height: 135px;
    border: 2px solid #ccc;
    color: #141414;
    font-family: Georgia,serif,Cambria, Cochin, Times, 'Times New Roman';
    font-size: 17px;
    font-weight: 400;
    padding: 3px 8px;
    
}
.textPersonalInfo{
    font-weight: 500;
    font-size: 26px;
  
    padding-left: 45px;
    padding-top: 10px;
    border-bottom: 1px solid #d6d8dc;
}
.inforow{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 15px;
    justify-content: space-between;
}
.Savediv{
    width: 1000px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: end;
    padding-right: 37px;
    margin-top: 10px;
}
.savebtn{
    border: none;
    background: cornflowerblue;
    color: white;
    padding: 7px 14px;
    margin: 7px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
}
.savebtn:hover{
    background-color:rgb(76, 127, 222) ;
}
.userReviews{
    margin-top: 50px;
    width:1000px;
    min-height:500px;
    height: fit-content;
    background-color:white;
    border-radius: 10px;

}
.reviewContainer {
    margin: 5px;
}
.rightTop {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.001rem solid;
    padding: 4px
}
.rightsec {
    width: 100%;
}
.textHead {
    font-size: 19px;
    /* font-size: large; */
    font-weight: 600;
}
.dateReview {
    font-size: 13px;
}
.rightIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72px;
}
.userreview {
    /* height: 173px; */
    height: -moz-fit-content;
    height: fit-content;
    min-height: 184px;
    border-radius: 9px;
    padding: 10px;
    background-color: #f7f7f7;
    display: flex;
}
.leftsec {
    width: fit-content;
    min-width: 200px;
   
    padding: 2px;
}
.reviewImg {
    /* height: 153px; */
    /* width: auto; */
    /* border: 1px #a53b3b; */
    min-width: 197px;
    min-height: 170px;
    height: fit-content;
    border-right: 1px solid;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.reviewImg img{

    object-fit: cover;
    width: 153px;
}
.movieName {
    /* border-top: black 2px; */
    /* border: 2px solid; */
    text-align: center;
}
.userFavMovies{
    margin-top: 50px;
    width:1000px;
    height:500px;
    background-color:white;
    border-radius: 30px;
}
.userAccinfo{
    margin-top: 50px;
    width:1000px;
    height:500px;
    background-color:white;
    border-radius: 30px;
}