.MainPage{
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}
.leftLinksSection{
    display: flex;
    flex-direction: column;
    width: 250px;
    position: sticky;
    top: 0;
    /* background-color: white; */
    left: 0;
    height: 100vh;
    bottom: 0;
    padding-top: 30px;
    padding-left: 3.25rem;
}
.contenttext{
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eaecf0;
    line-height: 1.6;
    font-size: 0.985rem;
    font-weight: 550;
    color: #000000;
    font-family: sans-serif;
}
.leftLinksSection a{
    color: #3366cc;
    text-decoration: none;
    font-size: 0.875rem;
    background: none;
    padding: 6px 0;
}
.rightMain{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.userInfo{
    margin-top: 50px;
    width:1000px;
    height:490px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
}
.userInfo .upper{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
} 
.userInfo .upper .upperleft{
    width: 30%;
    /* border-right: 2px solid red; */
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/* .userInfo .upper .upperleft .profilepic{
    

} */
.profilepic { 
    /* background-color: #f86969; */
    /* width: 250px;
    height: 250px;
    overflow: hidden; 
    border-radius: 50%;
    border-color: blue;
    border-width: 3px;
    border-style: solid; */
    box-sizing: border-box;
    
}
.profilepic img { 
    height: 170px;
    width: 180px;
    /* background-color: #f86969; */
    border-radius: 50%;
    display: inline-block;
}
.inputfile {
    margin-bottom: 10px;
}
.picCont {
    margin-top: 7px;
    border: 1px solid white;
    padding: 2px;
    background-color: #e1e1e1;
    border-radius: 13px;
}
.dimgCont {
    width: 40px;
    height: 40px;
    margin: 3px;
}
.row-1-pics {
    display: flex;
}
.row-2-pics {
    display: flex;
}
.dimgCont img{
    width: 100%;
    height:100%;
    border-radius: 50%;
}
.userInfo .upper .upperright{
    width:70%;
    margin-top: 20px;
    /* padding-left: 30px; */
}
.labeltext{
    font-size: 18px;
    font-weight: 650;


}
.form-group{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 42%;
}
.inputboxUser{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-family: serif,Cambria,Georgia;
    font-size: 17px;
    font-weight: 400;
}
.AboutUsermovie{
    width: 90%;
    /* height:170px */
}
.textbox{
    width: 100%;
    resize: none;
    height: 135px;
    border: 2px solid #ccc;
    color: #141414;
    font-family: Georgia,serif,Cambria, Cochin, Times, 'Times New Roman';
    font-size: 17px;
    font-weight: 400;
    padding: 3px 8px;
    
}
.textPersonalInfo{
    font-weight: 500;
    font-size: 26px;
  
    padding-left: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #d6d8dc;
}
.inforow{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 15px;
    justify-content: space-between;
}
.Savediv{
    width: 1000px;
    display: flex;
    /* align-items: flex-end; */
    justify-content: end;
    padding-right: 37px;
    margin-top: 10px;
}
.savebtn{
    border: none;
    background: cornflowerblue;
    color: white;
    padding: 7px 14px;
    margin: 7px;
    font-size: 23px;
    border-radius: 10px;
    cursor: pointer;
}
.cbtn{
    margin: 7px;
    
    cursor: pointer;
    color: blue;
}

.userReviews{
    margin-top: 50px;
    width:1000px;
    min-height:100px;
    height: fit-content;
    background-color:white;
    border-radius: 10px;
}
.reviewContainer {
    margin: 5px;
}
.noText {
    font-size: 18px;
    font-weight: 600;
    margin-left: 18px;
    margin-top: 10px;
}
.rightTop {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.001rem solid;
    padding: 4px
}
.rightsec {
    width: 100%;
}
.textHead {
    font-size: 19px;
    /* font-size: large; */
    font-weight: 600;
}
.dateReview {
    font-size: 13px;
}
.rightIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 72px;
}
.userreview {
    /* height: 173px; */
    height: -moz-fit-content;
    height: fit-content;
    min-height: 184px;
    border-radius: 9px;
    padding: 10px;
    background-color: #f7f7f7;
    display: flex;
}
.leftsec {
    width: fit-content;
    min-width: 200px;
   
    padding: 2px;
}
.reviewImg {
    /* height: 153px; */
    /* width: auto; */
    /* border: 1px #a53b3b; */
    min-width: 197px;
    min-height: 170px;
    height: fit-content;
    border-right: 1px solid;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.reviewImg img{

    object-fit: cover;
    width: 153px;
}
.movieName {
    /* border-top: black 2px; */
    /* border: 2px solid; */
    text-align: center;
}
.userFavMovies{
    margin-top: 50px;
    width:1000px;
    min-height: 170px;
    height: fit-content;
    background-color:white;
    border-radius: 30px;
}
.userAccinfo{
    margin-top: 50px;
    width: 1000px;
    padding-left: 5px;
    height: 140px;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 17px;
}
.crossBtn {
    display: flex;
    flex-direction: row-reverse;
}
.modelhead {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cont-x {
    display: flex;
}
.leftsecM {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviewImgM {
    width: 190px;
    height: 281px;
}
.reviewImgM img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textHead input {
    width: 95%;
    height: 28px;
    font-size: 15px;
}
.rightsecM {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    align-items: center;
}
.rightTopM {
    width: 100%;
}
.rightsecM textarea {
    width: 459px;
    height: 222px;
    margin-top: 4px;
    /* min-height: 55px; */
    outline: none;
    resize: none;
}
.btnCont {
    display: flex;
    flex-direction: row-reverse;
}
.btnCont button{
    border: none;
    background: cornflowerblue;
    color: white;
    padding: 5px 7px;
    margin: 7px;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;

}
.cursorP{
    cursor: pointer;
} 

.movie-card-fav {
    position: relative;
    overflow: hidden;
    width: 205px;
    height: 300px;
    margin: 3px;
    transition: transform 0.3s ease-in-out;
  }
  
.movie-card-fav:hover {
    transform: scale(1.05);
    z-index: 1; 
}
.movie-image {
width: 100%;
height: 100%;
object-fit: cover;
}

.movie-details {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent); /* Gradient overlay */
color: white;
padding: 20px;
box-sizing: border-box;
opacity: 0;
transform: translateY(100%); /* Start below the card */
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movie-card:hover .movie-details {
opacity: 1; /* Show details on hover */
transform: translateY(0); /* Slide up on hover */
}

.movie-details h3 {
margin: 0;
}

.movie-details p {
margin: 5px 0;
}
.movie-grid-fav{
display: grid;
margin: 5px 38px;
grid-template-columns: repeat(4,1fr);
gap: 10px;
}
@media only screen and (max-width: 767px) {
    .userInfo .upper {
        flex-direction: column;
    }
    .leftLinksSection{
        display: none;
    }
    .userInfo{
        width: 100%;
        height: 679px;
    }
    

    .userInfo .upper .upperright {
        width: 100%;
        margin-left: 12px;
    }
    .userInfo .upper .upperleft {
        width: 78%;
    }
    .Savediv {
        width: 100%;
    }
    .userReviews {
                
        width: 100%;
    }            
    .cont-x{
        flex-direction: column;
    }
    .textPersonalInfo{
        padding-left: 17px;
    }
    .reviewImg{
        min-width: 158px;
    }
    .leftsec{
        min-width: 164px;
    }
    .userFavMovies{
        width: 100%;
    }
    .movie-grid-fav{
        margin: 5px 9px;
        grid-template-columns: repeat(2,1fr);
    }
    .movie-card-fav{
        width: 158px;
        height: 239px;
    }
    .userAccinfo{
        width: 100%;
        
        height: 106px;
    }
    .rightsecM textarea {
        width: 100%;
    }
}